<app-header></app-header>


<main>
<section id="inicio">
  <h1>¿Quienes somos en Milo's Store?</h1>
</section>
<section class="somos">
  <div class="container">
      <div class="img-container">

      </div>
      <h2>MILO'S STORE</h2>
      <P>Somos una pequeña empresa en el mercado la cual busca el que las personas tengan un lugar de acceso facil a todas sus herramientas, piezas necesarias y mucho mas para entrar al mundo de los computadoras y algo que a todos nos gusta: <br> <span class="color-palabra"> <strong> EL MUNDO GAMING </strong> </span> <br> Esperamos ser tu lugar de confianza para todo lo relacionado con la tecnologia computacional.</P>

      <p>Sabemos que hoy en dia la tecnologia avanza a una velocidad inimaginable es por eso que trabajamos arduamente para traerte lo mas top en el mercado y asi tu puedas estar a la altura de los grandes, ya sea que tu quieras ser: <strong> Streamer, Creador de contenido, Programador </strong> o simplemente deseas divertirte junto a tus amigos, nosotros te ayudamos.</p>
      
  </div>
</section>

</main>



<app-footer></app-footer>